.container {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  margin-right: 10px;
  margin-left: 30px;
  overflow-y: auto;
}

.breadcrumb {
  margin-bottom: 40px;
  margin-top: 20px;
}

.breadcrumb a {
  text-decoration: none;
  color: #3f75af;
}

.title {
  margin-bottom: 40px;
  color: var(--primary-color);
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.widgetBox {
  height: 70px;
  border-radius: 15px;
  border: 0.72px solid #ccc;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 50px;
  background-color: var(--primary-color);
}

.tryButton {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.widgetBox p {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.tableContainer {
  border-radius: 15px;
  border: 0.72px solid #ccc;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  top: 564px;
  left: 542px;
  border-radius: 22px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
}

.table th {
  text-align: left;
  font-weight: bold;
  background-color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.actionButtons {
  gap: 10px;
}

.editButton,
.deleteButton {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
}

.deleteButton {
  color: #dc3545;
}
