.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 100px;
  margin-bottom: 50px;
  color: var(--primary-color);
  font-size: 48px;
}

.image {
  width: 50%;
  max-width: 400px;
  margin-bottom: 50px;
}

.plusIcon {
  font-size: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.button {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 12px 24px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
}


.message {
  margin-top: 20px;
  font-size: 16px;
}
