.container {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  margin-right: 10px;
  margin-left: 30px;
  overflow-y: auto;
}

.breadcrumb {
  margin-bottom: 40px;
  margin-top: 20px;
}

.title {
  margin-bottom: 40px;
  color: var(--primary-color);
}

.optionsMenu {
  display: flex;
  margin-bottom: 20px;
}

.optionsMenu p {
  margin-right: 20px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 16px;
}

.optionsMenu p.active {
  font-weight: bold;
  border-bottom: 3px solid var(--primary-color);
}

.options {
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

.options input[type="text"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}
