.sidebar {
  width: 300px;
  background-color: var(--tertiary-color);
  padding: 20px;
  height: 100vh;
  justify-content: space-between;
}

.sidebar p {
  list-style-type: none;
  padding: 0;
  margin-left: 40px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar li.active {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: white;
}

.sidebar li.active .circle {
  background-color: #515151;
  color: #fff;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dbdbdb;
  font-size: 12px;
  margin-right: 10px;
}

.settingIcon {
  font-size: 16px;
}

.sidebar li.active .settingIcon {
  color: black;
}

.circleforsetting {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dbdbdb;
  font-size: 12px;
  margin-right: 10px;
}

.sidebar li:last-child {
  border-bottom: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
